body{
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
   
 
}
#intro{
    padding: 10px;

}
#b1{
    margin-right: 40px;
}
span{
    color: pink;
}

#title{
    font-family: "Namdhinggo", serif;
    font-weight: 700;
    font-style: normal;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}